/node_modules
/public/build
/public/hot
/public/storage
/public/index.php
index.php
/public/.htaccess
.htaccess
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
